<div class="card">
<div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur maiores modi placeat eos maxime vel iure dolores quasi tempora quisquam natus iste, repellendus ea sequi ipsam amet eveniet corrupti et.</p>
</div>
</div>