<div class="jumbotron mt-4">
    <h1 class="display-4">NOTES APP NODES JS AND MONGODB</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem iste dolorem quod sunt veniam assumenda voluptate ea molestiae aut quo laborum non, optio numquam totam magni dolor cum ut sed?</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem exercitationem quasi dolores aut quos fugiat culpa distinctio aspernatur obcaecati eius blanditiis, facere aliquid quidem at sed libero nesciunt nemo velit.</p>
    <a href="http://faztweb.com" class="btn btn-primary btn-lg">Fazt Web</a>
</div>